
<div class="d-flex">

  <app-sidebar></app-sidebar>
  
  <div class="container">

    <div class="row p-3">
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr>
    <div class="row p-3">
      <div class="col">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto veritatis placeat in nisi laboriosam. Labore magni non voluptatibus aperiam. Voluptate, placeat? Et labore veritatis officiis reiciendis fugit deserunt sit officia?
      </div>
    </div>

  </div>
    

</div>